* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.navbar-logo {
  height: 100%;
  padding: 10px;
}

.navbar-hamburger {
  height: 100%;
  padding: 20px;
}

.overlay-menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.overlay-menu-link {
  font-size: 24px;
  margin: 20px;
  margin-top: 30px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

header {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 120px;
}

.header-image {
  height: 100%;
  padding: 10px;
}

#characters-title {
  padding-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
  }
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.character-information {
  align-self: flex-start;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  font-size: 16px;
  color: #666;
  border: 1.5px solid #a0a0a0;
  border-radius: 8px;
  outline: none;
}

.search-input:focus {
  border-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  color: #757575;
  display: flex;
  align-items: center;
  pointer-events: none;
  padding-left: 12px;
  display: none;
}

.search-input::placeholder {
  color: #8e8e8e;
  opacity: 1;
}

.detailsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsHeader h2 {
  font-size: xxx-large;
  font-weight: 400;
}

.characterDetails {
  display: flex;
  flex-direction: column;
}

.characterDetails img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.characterDetails h3 {
  font-size: 30px;
  color: #8e8e93;
  padding: 30px;
  font-weight: 500;
}

.goBackSection {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  padding: 10px;
  width: max-content;
}

.detailsInformation {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.detailsInformation .detailsName {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 10px;
}

.detailsInformation .detailsValue {
  color: #6e798c;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 5px;
}

.detailsInformation hr {
  color: #8e8e93;
}

.detailsEpisodes {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.detailsEpisodes .detailsEpisodeEpisode {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 10px;
}

.detailsEpisodes .detailsEpisodeName {
  color: #6e798c;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 5px;
}

.detailsEpisodes .detailsEpisodeAirDate {
  color: #8e8e93;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 5px;
}